header{
    background-image: url(../images/flywheel.jpg);
    background-size: 100%;
    padding: 10px;

}
h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;


}
h2{
    color: #000000;
    text-transform: uppercase;
    
}
/*section{
    background-color: #808080;
}*/
nav a{
    display: inline-block;
    margin-left: 6.5%;
    margin-bottom: 3.25%;
    
		
	-webkit-border-radius: 20px;
	-moz-border-radius: 2px;
	-o-border-radius: 20px;
	border-radius: 20px;

	text-decoration: none;
	padding: 0.5% 2%;

	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(211, 211, 211, 0.5);
	width:150px;
	height: 20px;
}

nav a:link, a:visited{
    color: #000000;
    background-color: rgba(211, 211, 211, 0.5);
}
nav a.active{
    background: #ffffff; 
}
main .left{
    display: inline-block;
    float: left;
    width: 24%;
    background: #556B2F;
}

main .right{
    display: inline-block;
    float: left;
    width: 70%;
    background: #ffffff
    border: solid;
    padding: 10px; 
}
.left img{
    display: block;
    border: solid #000000 2px;
    margin: 5%;
    margin-left: 9%;
    width: 80%;
    
}

body{
    margin: 2%;
}