header{
    background-color: #C0C0C0; 

}
h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

}
h2{
    color: #0000ff;
    text-transform: uppercase;
    
}
section{
    background-color: #808080;
}
a{
    color: #000000;
    background-color: #DCDCDC;
}
img{
    display: none;
}

